Repository gomster96/LearnTube, pull requests merged in 2022-04, with the labels that each got.

#4 Lecture 레이아웃 구조 생성
  backend/node_modules/.package-lock.json
  backend/node_modules/tomcat/package.json
  backend/package-lock.json
  backend/package.json
  backend/src/main/java/com/walab/lecture/application/LectureService.java
  backend/src/main/java/com/walab/lecture/presentation/LectureController.java
Labels: feat, backend

#8 Be/feat/#1 공지 crud
  backend/node_modules/.package-lock.json
  backend/node_modules/tomcat/package.json
  backend/package-lock.json
  backend/package.json
  backend/src/main/java/com/walab/lecture/application/LectureService.java
  backend/src/main/java/com/walab/lecture/presentation/LectureController.java
  backend/src/main/java/com/walab/notice/applecation/NoticeService.java
  backend/src/main/java/com/walab/notice/domain/Notice.java
  backend/src/main/java/com/walab/notice/domain/repository/NoticeDto.java
  backend/src/main/java/com/walab/notice/domain/repository/NoticeRepository.java
  backend/src/main/java/com/walab/notice/domain/request/NoticeCreationRequest.java
  backend/src/main/java/com/walab/notice/presentation/NoticeController.java
Labels: backend, api

#9 [#2] : hotfix : contentDescription 추가
  backend/src/main/java/com/walab/content/application/ContentService.java
  backend/src/main/java/com/walab/content/application/dto/ContentDto.java
  backend/src/main/java/com/walab/content/domain/Content.java
  backend/src/main/java/com/walab/content/presentation/response/ContentResponse.java
Labels: feat, backend, api

#12 #[11] : User 로그인, read, delete Api 구현
  backend/src/main/java/com/walab/content/presentation/ContentController.java
  backend/src/main/java/com/walab/user/application/UserService.java
  backend/src/main/java/com/walab/user/application/dto/UserDto.java
  backend/src/main/java/com/walab/user/domain/User.java
  backend/src/main/java/com/walab/user/domain/repository/UserRepository.java
  backend/src/main/java/com/walab/user/presentation/UserController.java
  backend/src/main/java/com/walab/user/presentation/request/UserIdRequest.java
  backend/src/main/java/com/walab/user/presentation/request/UserLoginRequest.java
  backend/src/main/java/com/walab/user/presentation/response/UserResponse.java
Labels: feat, backend, api
