Repository gomster96/LearnTube, pull requests merged in 2022-05, with the labels that each got.

#14 Lecture CRD 구현
  backend/src/main/java/com/walab/lecture/application/LectureService.java
  backend/src/main/java/com/walab/lecture/application/dto/LectureContentDto.java
  backend/src/main/java/com/walab/lecture/application/dto/LectureCreateDto.java
  backend/src/main/java/com/walab/lecture/application/dto/LectureDto.java
  backend/src/main/java/com/walab/lecture/application/repository/LectureRepository.java
  backend/src/main/java/com/walab/lecture/domain/Lecture.java
  backend/src/main/java/com/walab/lecture/domain/dto/LectureDataDto.java
  backend/src/main/java/com/walab/lecture/domain/repository/LectureRepository.java
  backend/src/main/java/com/walab/lecture/presentation/LectureController.java
  backend/src/main/java/com/walab/lecture/presentation/dto/LectureCreateRequest.java
  backend/src/main/java/com/walab/lecture/presentation/dto/LectureResponse.java
Labels: feat, backend, api

#16 feat[#15] : 스프린트 마무리 전 합치기
  backend/src/main/java/com/walab/content/application/ContentService.java
  backend/src/main/java/com/walab/content/presentation/ContentController.java
  backend/src/main/java/com/walab/lecture/application/LectureService.java
  backend/src/main/java/com/walab/lecture/domain/Lecture.java
  backend/src/main/java/com/walab/lecture/presentation/LectureController.java
  backend/src/main/java/com/walab/lecture/presentation/dto/LectureDeleteRequest.java
  backend/src/main/java/com/walab/notice/application/NoticeService.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeCUDto.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeClassRoomDto.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeDetailDto.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeDto.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeIdDto.java
  backend/src/main/java/com/walab/notice/application/dto/NoticeReadListDto.java
  backend/src/main/java/com/walab/notice/domain/Notice.java
  backend/src/main/java/com/walab/notice/domain/repository/NoticeRepository.java
  backend/src/main/java/com/walab/notice/domain/request/NoticeCreationRequest.java
  backend/src/main/java/com/walab/notice/domain/request/NoticeDeleteRequest.java
  backend/src/main/java/com/walab/notice/domain/request/NoticeUpdateRequest.java
  backend/src/main/java/com/walab/notice/presentation/NoticeController.java
  backend/src/main/java/com/walab/user/presentation/UserController.java
Labels: backend, refactor

#27 curriculum read 구현
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#28 [#25] : 학생 강사 수강신청, 승인, 반려 관련 API 구현
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomEnrollDto.java
  backend/src/main/java/com/walab/classroom/application/dto/take/TakeUserDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/TakeRepository.java
  backend/src/main/java/com/walab/classroom/domain/take/Take.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
  backend/src/main/java/com/walab/classroom/presentation/request/ClassRoomEnrollRequest.java
  backend/src/main/java/com/walab/classroom/presentation/request/take/TakeIdRequest.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomEnrollResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/take/TakeAcceptRejectResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/take/TakeUserResponse.java
  backend/src/main/java/com/walab/user/application/dto/UserDto.java
  backend/src/main/java/com/walab/user/domain/User.java
  backend/src/main/java/com/walab/user/domain/repository/UserRepository.java
Labels: feat, backend, api

#31 #[30] : Dashboard 조회 APi 들 구현
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/classroom/application/dto/take/TakeClassRoomDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/domain/repository/TakeRepository.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomDashboardResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomManagedResponse.java
Labels: feat, backend, api

#33 [fe/feat/#32] feat: 커리큘럼 페이지 조회 완료 (Instructor포함 -student)
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CourseSidebar.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend, api

#35 Dashboard page read 기능 구현완료
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
Labels: feat, frontend

#37 Fe/feat/#36
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend, api

#42 content cud 구현
  frontend/src/components/Modal/CreateContent.js
  frontend/src/components/Modal/UpdateContent.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#44 커리큘럼 컨텐츠 CUD url 에러 수정
  frontend/src/components/Modal/CreateContent.js
  frontend/src/components/Modal/UpdateContent.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#48 [#45] : 구현된 API 기능 수정
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
  backend/src/main/java/com/walab/content/presentation/ContentController.java
  backend/src/main/java/com/walab/lecture/application/LectureService.java
  backend/src/main/java/com/walab/lecture/application/dto/LectureCreateDto.java
  backend/src/main/java/com/walab/lecture/presentation/dto/LectureCreateRequest.java
  backend/src/main/java/com/walab/notice/application/NoticeService.java
  backend/src/main/java/com/walab/notice/presentation/NoticeController.java
  backend/src/main/java/com/walab/user/presentation/UserController.java
Labels: backend, fix, api

#49 [fe/feat/#38] feat: notice edit 관련 수정, 대시보드 progress bar 수정
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseSection.js
Labels: feat, frontend, fix

#51 [#29] : N+1발생하는 문제 해결
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/domain/repository/TakeRepository.java
Labels: backend, fix, api

#53 [#52] : CustomException 구현
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/content/application/ContentService.java
  backend/src/main/java/com/walab/exception/ExceptionResponse.java
  backend/src/main/java/com/walab/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/walab/exception/LearnTubeException.java
  backend/src/main/java/com/walab/exception/classroom/ClassRoomException.java
  backend/src/main/java/com/walab/exception/classroom/ClassRoomNotFoundException.java
  backend/src/main/java/com/walab/exception/classroom/TakeNotFoundException.java
  backend/src/main/java/com/walab/exception/content/ContentException.java
  backend/src/main/java/com/walab/exception/content/ContentNotFoundException.java
  backend/src/main/java/com/walab/exception/lecture/LectureException.java
  backend/src/main/java/com/walab/exception/lecture/LectureNotFoundException.java
  backend/src/main/java/com/walab/exception/notice/NoticeException.java
  backend/src/main/java/com/walab/exception/notice/NoticeNotFoundException.java
  backend/src/main/java/com/walab/exception/playlist/PlaylistException.java
  backend/src/main/java/com/walab/exception/playlist/PlaylistNotFoundException.java
  backend/src/main/java/com/walab/exception/user/UserException.java
  backend/src/main/java/com/walab/exception/user/UserNotFoundException.java
  backend/src/main/java/com/walab/exception/video/VideoException.java
  backend/src/main/java/com/walab/notice/application/NoticeService.java
  backend/src/main/java/com/walab/user/application/UserService.java
Labels: feat, backend

#54 Lecture(cd) Frontend 기능 구현 완료
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#55 [fe/feat/#50] feat: 커리큘럼 페이지 fix
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CourseSidebar.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
Labels: feat, frontend, fix

#57 [fe/feat/#56] refactor: 커리큘럼 공지
  frontend/src/components/Modal/CreateNotice.js
  frontend/src/components/Modal/DeleteNotice.js
  frontend/src/components/Modal/UpdateNotice.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: frontend, refactor

#60 [#59] : Courses 받아오는 API 구현
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomCourseDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomCourseResponse.java
  frontend/src/pages/course/CourseSection.js
Labels: feat, backend, api

#64 [#59] : Paging 정렬 및 검색 API 구현, Popular3개의 조회 API 구현
  backend/pom.xml
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepositoryCustom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepositoryCustomImpl.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
  backend/src/main/java/com/walab/config/QuerydslConfig.java
Labels: feat, backend, api

#70 feat[#69] : playlist id와 이름들만 가져오는 API 구현
  backend/src/main/java/com/walab/playlist/application/PlaylistService.java
  backend/src/main/java/com/walab/playlist/application/dto/PlaylistNameDto.java
  backend/src/main/java/com/walab/playlist/domain/Playlist.java
  backend/src/main/java/com/walab/playlist/domain/repository/PlaylistRepository.java
  backend/src/main/java/com/walab/playlist/presentation/PlaylistController.java
  backend/src/main/java/com/walab/playlist/presentation/response/PlaylistNameResponse.java
Labels: feat, backend, api

#72 playlist read 수정, dashboard&curriculum page css 수정
  frontend/src/assets/scss/_course_single.scss
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/components/Modal/Content/CreateContent.js
  frontend/src/pages/course/CourseSection.js
  frontend/src/pages/course/course-single/CourseSidebar.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
Labels: frontend, fix

#76 content 생성 시 playlist read, 데이터 저장
  backend/src/main/java/com/walab/playlist/presentation/PlaylistController.java
  frontend/src/components/Modal/Content/CreateContent.js
Labels: feat, frontend

#78 관리 중, 종료된 강의실 학생 수 조회, front css 수정
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
Labels: frontend, fix

#79 feat[#73] : 수강중인 학생 목록 조회 API 구현
  backend/src/main/java/com/walab/classroom/application/TakeService.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/classroom/domain/repository/TakeRepository.java
  backend/src/main/java/com/walab/user/presentation/UserController.java
Labels: feat, backend, api

#81 [fe/feat/#80] feat: Main의 Popular 강의
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/main/CoursesSection.js
Labels: feat, frontend, api

#84 [fe/feat/#83] feat: 커리큘럼 수강 학생 list
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CourseSidebar.js
Labels: feat, frontend, api

#85 [#74] : Course Page front 기능 구현
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomCourseDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepositoryCustomImpl.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomCourseResponse.java
  frontend/src/assets/css/courseList.css
  frontend/src/components/Courses/CourseSingleTwoCopy.js
  frontend/src/pages/course/CourseSection.js
  frontend/src/pages/course/PagingBar/index.js
  frontend/src/pages/course/SearchBar/index.js
  frontend/src/pages/course/SortFilter/index.js
Labels: feat, frontend, api

#87 탭 뷰, 정렬 제거
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
Labels: frontend, fix

#90 footer 수정
  frontend/src/components/Layout/Footer/Footer.js
  frontend/src/components/Layout/Footer/FooterBottom.js
Labels: feat, frontend

#93 Curriculum page - Content 클릭 시 플레이리스트 페이지 연결
  frontend/src/app/App.jsx
  frontend/src/components/Widget/ContentWidget.js
  frontend/src/pages/course/course-single/CourseContent.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#94 [fe/feat/#92] fix : student list 및 푸터 수정
  frontend/src/components/Layout/Footer/Footer.js
  frontend/src/pages/course/course-single/CourseSidebar.js
Labels: frontend, fix

#99 강의실 생성 모달 구현 및 백연결, css 수정
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Modal/Classroom/CreateClassroom.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
Labels: feat, frontend

#101 Content 수정 시 playlist read
  backend/src/main/resources/application.yml
  frontend/package-lock.json
  frontend/src/components/Modal/Content/CreateContent.js
  frontend/src/components/Modal/Content/UpdateContent.js
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend

#104 [#103] : 수강신청API 수정, ClassRoom domain 에 image 추가
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomCUDto.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomCourseDto.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomDto.java
  backend/src/main/java/com/walab/classroom/application/dto/take/TakeClassRoomDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/take/Take.java
  backend/src/main/java/com/walab/classroom/presentation/request/ClassRoomCreateRequest.java
  backend/src/main/java/com/walab/classroom/presentation/request/ClassRoomUpdateRequest.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomCourseResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomCreateResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomDashboardResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomManagedResponse.java
  backend/src/main/java/com/walab/classroom/presentation/response/ClassRoomUpdateResponse.java
Labels: backend, fix, api

#106 feat[#105] : classRoom read 에 수강 상태까지 추가
  backend/src/main/java/com/walab/classroom/application/ClassRoomService.java
  backend/src/main/java/com/walab/classroom/application/dto/ClassRoomDetailDto.java
  backend/src/main/java/com/walab/classroom/domain/ClassRoom.java
  backend/src/main/java/com/walab/classroom/domain/take/Take.java
  backend/src/main/java/com/walab/classroom/presentation/ClassRoomController.java
Labels: backend, fix, api

#109 feat[#107] : 스케쥴러를 이용하여 매일 closeDate를 비교하며 수업 종료처리 구현
  backend/src/main/java/com/walab/LearntubeApplication.java
  backend/src/main/java/com/walab/classroom/domain/repository/ClassRoomRepository.java
  backend/src/main/java/com/walab/util/ClassRoomCloseScheduler.java
Labels: feat, backend

#108 Fe/feat/#88
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Layout/Header/Header.js
  frontend/src/components/Layout/Header/MenuItems.js
  frontend/src/components/Layout/Header/index.js
  frontend/src/components/Modal/CreateNotice.js
  frontend/src/components/Modal/DeleteNotice.js
  frontend/src/components/Modal/UpdateNotice.js
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CourseSidebar.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/dashboard/CourseMain.js
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
  frontend/src/pages/dashboard/index.js
  frontend/src/pages/login.js
  frontend/src/pages/main/CoursesSection.js
  frontend/src/pages/main/HomeFiveMain.js
  frontend/src/pages/main/index.js
Labels: frontend, api

#112 [fe/feat/#111] feat: 푸터 수정, 로그인버튼 CSS수정
  frontend/src/components/Banner/BannerStyleFour.js
  frontend/src/components/Layout/Footer/Footer.js
  frontend/src/components/Layout/Footer/FooterStyleTwo.js
  frontend/src/components/Layout/Header/Header.js
  frontend/src/pages/login.js
Labels: frontend

#116 Fe/feat/#115 수강하지 않는 강의 접근금지
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: feat, frontend, api

#120 [fe/feat/#119] 수강 접근 외 오류수정
  frontend/src/pages/course/course-single/CourseDetailsPart.js
  frontend/src/pages/course/course-single/CurriculumPart.js
  frontend/src/pages/login.js
Labels: frontend, fix

#121 image url 부분 추가, dashboard 로그인 유지 관련 에러 수정
  frontend/src/components/Courses/CourseDashBoard.js
  frontend/src/components/Modal/Classroom/CreateClassroom.js
  frontend/src/pages/dashboard/CourseMain.js
  frontend/src/pages/dashboard/CourseMainAdmin.js
  frontend/src/pages/dashboard/CourseMainClosed.js
  frontend/src/pages/dashboard/CourseSection.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/dashboard/CourseSectionClosed.js
  frontend/src/pages/dashboard/index.js
Labels: feat, frontend, fix

#124 [fe/feat/#122] fix: 관리자 커리큘럼 수정, 삭제 아이콘
  frontend/src/pages/course/course-single/CurriculumPart.js
Labels: frontend, fix

#125 feat[#110] : 무한스크롤 기능 구현
  frontend/src/pages/course/CourseSection.js
  frontend/src/pages/course/SearchBar/index.js
  frontend/src/pages/course/SortFilter/index.js
Labels: feat, frontend

#135 링크 에러 수정 완료
  frontend/src/assets/scss/_team.scss
  frontend/src/components/Banner/BannerDefault.js
  frontend/src/components/Banner/BannerStyleEight.js
  frontend/src/components/Banner/BannerStyleFive.js
  frontend/src/components/Banner/BannerStyleFour.js
  frontend/src/components/Banner/BannerStyleSeven.js
  frontend/src/components/Banner/BannerStyleSix.js
  frontend/src/components/Banner/BannerStyleTwo.js
  frontend/src/components/Blog/SinglePostFive.js
  frontend/src/components/Blog/SinglePostFour.js
  frontend/src/components/Blog/SinglePostSix.js
  frontend/src/components/Blog/SinglePostThree.js
  frontend/src/components/Blog/SinglePostTwo.js
  frontend/src/components/Categories/CategoriesSingle.js
  frontend/src/components/Categories/CategoriesSingleFour.js
  frontend/src/components/Categories/CategoriesSingleThree.js
  frontend/src/components/Categories/CategoriesSingleTwo.js
  frontend/src/components/Events/EventsShort.js
  frontend/src/components/Events/SingleEvent.js
  frontend/src/components/Layout/Footer/FooterBottom.js
  frontend/src/components/Layout/Header/HeaderStyleSix.js
  frontend/src/components/Layout/Header/HeaderStyleTwo.js
  frontend/src/components/Layout/Header/MenuItems.js
  frontend/src/components/Layout/Header/RSMobileMenu.js
  frontend/src/components/Layout/Header/index.js
  frontend/src/components/Project/SingleProject.js
  frontend/src/components/Project/SingleProjectThree.js
  frontend/src/components/Project/SingleProjectTwo.js
  frontend/src/components/Service/SingleService.js
  frontend/src/components/Service/SingleServiceEight.js
  frontend/src/components/Service/SingleServiceFive.js
  frontend/src/components/Service/SingleServiceFlip.js
  frontend/src/components/Service/SingleServiceFlipTwo.js
  frontend/src/components/Service/SingleServiceSeven.js
  frontend/src/components/Service/SingleServiceSix.js
  frontend/src/components/Service/SingleServiceThree.js
  frontend/src/components/Service/SingleServiceTwo.js
  frontend/src/components/Shop/AccountMain.js
  frontend/src/components/Slider/SliderDefault.js
  frontend/src/components/Team/SingleTeam.js
  frontend/src/components/Team/SingleTeamThree.js
  frontend/src/components/Team/SingleTeamTwo.js
  frontend/src/components/Widget/CategoriesWidget.js
  frontend/src/components/Widget/PostContent.js
  frontend/src/components/Widget/RecentPost.js
  frontend/src/components/Widget/RecentPostWidget.js
  frontend/src/pages/dashboard/CourseSectionAdmin.js
  frontend/src/pages/home/CallUsSection.js
  frontend/src/pages/home/CategoriesSection.js
  frontend/src/pages/home/CtaSection.js
  frontend/src/pages/main/AboutSection.js
  frontend/src/pages/main/CoursesSection.js
  frontend/src/pages/main/CtaSection.js
  frontend/src/sample-data/blog-posts/posts.json
  frontend/src/sample-data/blog-posts/single-post.json
Labels: frontend, fix
